{% extends "main_layout.html" %} {% block title %} Converter! {% endblock %} {% block content %}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-center row">
      <div class="col-xs-8 col-xs-offset-4">
        <form>
          <div class="form-group">
            <input id="search-input" type="text" class="form-control" placeholder="search key words">
          </div>
          <button id="reset-button" type="reset" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
          <button id="search-button" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div id="main-content" class="container theme-showcase" role="main">

  <div class="row">
    <div class="col-xs-4 options-col">
      <div class="panel panel-default panel-filters">
        <div class="panel-body">
          <form action="GET" id="filters-form">
            <h4><span class="label label-success">&nbsp;</span> Tags <span class="badge nb-tags">0</span></h4>
            <div class="tags-container"></div>
            <h4><span class="label label-primary">&nbsp;</span> Categories <span class="badge nb-categories">0</span></h4>
            <div class="categories-container"></div>
            <h4><span class="label label-danger">&nbsp;</span> Languages <span class="badge nb-languages">0</span></h4>
            <div class="languages-container"></div>
          </form>
          <h4>Display</h4>
          <div class="display-container">
            <div class="radio">
              <label>
                <input type="radio" name="displayOption" id="displayOptionSimple" value="simple" required>
                Simple
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="displayOption" id="displayOptionComplete" value="complete" required checked>
                Complete
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div id="alert-content"></div>
      <div id="no-query">
        make the first query
      </div>
      <div id="spinner">
        <i class="glyphicon glyphicon-hourglass"></i>
      </div>
      <div id="no-results">
        no result found
      </div>
      <div id="results"></div>
      <div class="footer">
        Copyright &copy; 2017 N. Huguenin, M. Caraccio and J. Gugger – All Rights Reserved.
      </div>
    </div>
  </div>

</div>
<!-- /container -->


<div id="loading-page">
  <i class="glyphicon glyphicon-refresh"></i>
</div>


{% endblock %}
